/* Border Box */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    background: rgb(189, 209, 221);
}
/* sticky header */
.stickyhead {
    background: #f1f1f1;
    box-shadow: 0px 0px 10px 0px #000000; 
    position: sticky;
    top: 0;
    width: auto;
    height: 150px;
}
/* font */
@font-face {
    font-family: 'coolvetica';
    src: url('fonts/coolvetica-webfont.woff2') format('woff2'),
         url('fonts/coolvetica-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* images */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
/* two images side by side */
.sidebyside {
    display: flex;
    flex-direction: row;
}
/* IDM241 Alpha */
p {
    color: #000000;
    font-family: 'coolvetica', sans-serif;
    font-size: 50px;
    margin: 0;
    padding: 40px;
    text-align: center;
}
/* paragraphs */
p.paragraph {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    text-align: left;
    margin-left: 150px;
    margin-right: 150px;
}
/* second paragraph */
p.paragraph2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
}
/* bold underlined headings */
.headingtxt {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    font-weight: bold;
    text-align: left;
    margin-left: 150px;
    margin-right: 150px;
}
/* links */
a {
    color: rgb(41, 43, 133);
}
a:hover {
    color: rgb(46, 97, 238);
}
